<!-- Read Only -->
<p id="notice"><%= notice %></p>

<h1>R Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @r_products.each do |r_product| %>
      <tr>
        <td><%= r_product.name %></td>
        <td><%= r_product.price %></td>
        <td><%= link_to 'Show', r_product %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
